.loader{
    width: 19px;
    height: 19px;
    border-radius: 50%;
    box-shadow: 1px 5px 2px black;
    animation: loading 0.5s ease-in-out infinite;
}

@keyframes loading{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}