.login {
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
  .card {
    display: flex;
    border-radius: 0 5rem 5rem 0;
    width: 80rem;
    min-height: 52rem;

    border: 1px solid var(--primary);

    .left {
      border-right: 0.5px solid rgb(238, 237, 237);
      flex: 1;
      height: 59rem;
      width: 44.1rem;
      position: relative;
      background-color: var(--primary);
      transition: background-color 0.5s ease-in-out;
      .imagescard {
        width: 244px;
        height: 503px;
        position: absolute;
        top: 37px;
        left: 68px;
        border-radius: 18px;
        box-shadow: 11px 46px 117px rgba(0, 0, 0, 0.22);
        overflow-x: hidden;

        .image {
          border-radius: 18px;
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
    }
    .right {
      padding: 2rem;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .wrapper {
        display: flex;
        flex-direction: column;

        width: 90%;
        padding: 1rem;

        h2 {
          font-size: 3.5rem;
          font-weight: 500;
          margin-bottom: 3rem;
          letter-spacing: 0.1rem;
        }
        input {
          margin: 1.5rem 0;
          padding: 1rem;
          font-size: 1.4rem;
          width: 100%;
          border: none;

          border-bottom: 0.4px solid rgb(200, 198, 198);
        }

        button {
          margin-top: 4rem;
          padding: 1rem;
          font-size: 1.4rem;
          letter-spacing: 0.1rem;
          font-weight: 500;
          border-radius: 0.8rem;
          border: none;
          background-color: var(--primary);
          color: white;
          cursor: pointer;
          border: 1px solid var(--primary);
          transition: all 0.5s ease;
          &:hover {
            &:hover {
              background-color:#2a4d93;
          
            }
          }
          // text-align: center;
        }
      }
      .wrapper2 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        width: 90%;
        margin-top: 1rem;
        padding: 1rem;
        p {
          font-size: 1.4rem;
        }
        button {
        
          font-weight: 100;
          font-size: 1.5rem;
          padding: 0.7rem;
          width: 10rem;
          color: var(--primary);
          border-radius: 1rem;
          border: 0.1rem solid var(--primary);
          background-color: var(--primary);
          color: white;

          transition: all 0.5s ease;
          cursor: pointer;
          &:hover {
            background-color: white;
            color: var(--primary);
          }
        }
      }
    }
  }
}

// making responsive 888888888888888
// ********************


$mobile-width:820px;

// @mixin mobile {
//   @media (max-width: #{$mobile-width}) {
//     @content;
//   }
// }

@media(max-width:$mobile-width){
  .card{
    margin: 2rem;
  }
  .login .card{
    min-height: 44rem;
  }
  .login .card .right{
    padding: 0rem;
  }
  .login .card .right .wrapper {
    padding: 0rem;
  }
  .login .card .right .wrapper h2{
    font-size: 2.5rem;
  }
  

.login .card .right .wrapper2{
  padding: 1rem 0rem;
}
 
  .left{
    display: none;
  }
}
